.header {
  background-color: #fff;
  color: #333;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 25px;
}

nav button {
  padding: 0.4rem 1.2rem;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
