* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background-color: rgb(240, 237, 236);
}

.container {
  padding: 4rem;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

main {
  margin: 100px 0;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}
